body {
    background-image: linear-gradient(to right, rgb(76, 150, 152), rgb(69, 75, 142));
    background-repeat: no-repeat;
    background-size: cover;
}

.music {
    height: 100vh;
}

.player {
    padding: 30px 40px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.play__btn i {
    font-size: 40px;
}

.play__btn i:last-child {
    display: none;
}

.track-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-image: url('./img/nauchoeman.jpg');
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

.track-img.active {
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.track-info h3 {
    margin-bottom: 0;
    font-weight: 400;
}

.track-info p {
    margin-bottom: 0;
}

input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    background-image: linear-gradient(to right, rgb(76, 150, 152), rgb(69, 75, 142));
    width: 250px;
    height: 5px;
    margin: 0 8px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s;
}

input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
}

.track-volumn input {
    width: 100px;
}

.track-control {
    font-size: 20px;
}

.track-control i {
    cursor: pointer;
}

.stroke__list {
    display: none;
}

.stroke {
    width: 5px;
    height: 70px;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 4px;
}

.stroke.active {
    animation: waveInfinity 1.4s linear infinite;
}

@keyframes waveInfinity {
    50% {
        background-color: #4286f4;
        height: 20px;
    }

    100% {
        height: 70px;
    }
}

.stroke:nth-child(1),
.stroke:nth-child(7) {
    animation-delay: 0s;
}

.stroke:nth-child(2),
.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3),
.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}


@media screen and (max-width: 575.98px) {
    .player {
        max-width: 100%;
    }

    .track-info h3 {
        font-size: 20px;
    }

    .track-img {
        width: 100px;
        height: 100px;
    }

    .track-volumn input {
        width: 50px;
    }
}